body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: transparent !important;
  background-color: transparent !important;
}

:root {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

#board {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
  cursor: none;
}

#cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: red;
  background-size: contain;
  pointer-events: none;
  z-index: 99;
  will-change: transform;
  contain: layout style;
}

#toolbar {
  position: absolute;
  top: 40px;
  left: 10px;
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 78px;
  height: fit-content;

  background-color: rgba(0, 0, 0, 0.18);
  border: solid 1px rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px) saturate(1.2);
  backdrop-filter: blur(10px) saturate(1.2);

  -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.2);

  padding: 5px;

  overflow: hidden;
}

#toolbar * {
  all: unset;
  cursor: pointer;
}

#toolbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  min-height: 32px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px) saturate(1.2);
  backdrop-filter: blur(10px) saturate(1.2);

  border: solid 1px rgba(204, 204, 204, 0.6);
  border-radius: 4px;
  inset: 1px 1px 0px 1px;

  -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.2);
}

#toolbar button:active {
  transform: scale(0.9);
  transition: transform 50ms ease-in-out;
  background-color: rgba(204, 204, 204, 0.5);
  border: solid 1px rgba(255, 255, 255, 0.6);
}

#toolbar #toolbar-header-region {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#toolbar #drag-region {
  display: flex;
  
  cursor: grab;
  height: 26px;
}

#toolbar #open-toolbox {
  display: flex;
  cursor: pointer;
  height: 26px;
}