body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: transparent !important;
}

:root {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0;
  padding: 0;
}

#board {
  width: 100vw;
  height: 100vh;
  image-rendering: pixelated;
}